@import "nullstyle.scss";

.wrapper {
    min-height: 100%;
	overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
._container {
    max-width: 1062px;
	margin: 0px auto;
    padding: 0 15px;
    box-sizing: content-box;

    &_two {
        max-width: 898px;
        margin: 0px auto;
        box-sizing: content-box;
    }
}

._ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    & img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
/*---------HEADER---------------------------------------------*/

.header {
    margin-top: 62px;

    @media (max-width: 869px){
        margin-top: 30px;
    }

    &__container {
        display: flex;
        align-items: baseline;
        height: 163px;

        @media (max-width: 869px) {
            flex-direction: column;
            align-items: center;
            height: inherit;
        }
    }

    &__logo {
        flex: 1 1 46%;
        font-family: Inconsolata;
        font-size: 30px;
        line-height: 24px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #000000;
    }

    &__menu {
        flex: 1 1 54%;

        @media (max-width: 869px) {
            margin: 20px 0;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        text-transform: uppercase;

        @media (max-width: 869px) {

            &:not(:last-child){
            padding: 0 10px 0 0;}
        }

        &:hover {
            a {
               color: #c8c3bc;
               font-size: 16px;
               transition: 0.7s;
            }
        }

        a {
            color: #626262;
            transition: 0.7s;
            }
    }
}

/*---------PAGE---------------------------------------------*/

.page {

    &__container {
    }
}

.image {
    display: block;
    padding: 0 0 50% 0;
}

/*---------MAIN-BLOCK---------------------------------------------*/

.main-block {
    margin-top: 100px;

    @media (max-width: 869px){
        margin-top: 50px;
    }

    &__link {
        
    }

    &__about {
        padding: 25px 0 46px 0;
    }

    &__title {

        a {
        font-size: 30px;
        line-height: 1.2;
        font-weight: 400;
        color: #626262;
            
            &:hover {
                color: #816c45;
                text-decoration: underline;
            }
        }
    }

    &__text {
        padding: 30px 0 0 0;
        color: #626262;
    }
}
.link {
    font-family: Ubuntu;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        text-transform: uppercase;

        &:hover {
            a {
               color: #c8c3bc;
               font-size: 16px;
               transition: 0.7s;
            }
        }

        a{
            color: #b4ad9e;
        }
}

/*---------POSTS---------------------------------------------*/

.posts {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 869px){
        margin-top: 50px;
    }


    &__story {
        display: flex;
        flex-direction: column;
        flex: 0 1 50%;
        max-width: 420px;
        // padding: 0 20px;
        margin: 0 0 30px 0;

        // &:nth-child(even) {
        //     margin: 0 0 0 20px;
        // }

        @media (max-width: 969px) {
            padding: 0 20px;
        }

        @media (max-width: 869px) {
            flex: 0 1 100%;
            max-width: 100%;
            padding: 0;
        }
    }

    &__picture {
        padding: 0 0 60% 0;
        display: block;
    }

    &__link {
        padding: 30px 0 0 0;
    }

    &__about {
        padding: 25px 30px 0 0;
    }

    &__title {
        padding: 0 0 30px 0;

        a {
        font-family: 'Playfair Display';
        font-size: 30px;
        line-height: 1.2;
        font-weight: 400;
        color: #626262;

            &:hover {
            color: #816c45;
            text-decoration: underline;
            }
        }
    }

    &__text {
        max-height: 65px;
        overflow: hidden;
        font-family: 'Playfair Display';
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: #626262;
    }
}

/*---------SIGN-UP---------------------------------------------*/

.sign-up {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 287px;
    background-color: #f0f0f0;

    @media (max-width: 869px){
        margin-top: 50px;
    }

    @media (max-width: 450px){
        align-items: flex-start;
        padding: 0 0 0 20px;
    }

    &__title {
        font-family: 'Playfair Display';
        font-size: 30px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #333333;
    }

    &__mail {
        display: flex;
        justify-content: space-between;
        padding: 0 0 8px 0;
        border-bottom: 1px solid black;
        width: 400px;

        @media (max-width: 450px){
            width: inherit;
            justify-content: flex-start;
        }
    }

    &__send {
        width: 168px;
        font-family: 'Playfair Display';
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: #626262;
        background-color: #f0f0f0;
    }

    &__arrow {
        padding: 0 0 0 20px;
    }
}

/*---------POSTS-CONTINUE---------------------------------------------*/

.posts-continue {

    &__load {
        display: flex;
        justify-content: center;
        margin-top: 165px;
        flex: 1 1 100%;

        @media (max-width: 869px){
            margin-top: 50px;
        }
    }

    &__button {
        width: 164px;
        height: 60px;
        border: 1px solid #626262;
        transition: 0.7s;

        &:hover {
            background-color: #c8c3bc;
            transition: 0.7s;

            a {
                color: #ffffff;
                transition: 0.7s;
            }
        }

        a {
            font-family: 'Playfair Display';
            font-size: 20px;
            line-height: 24px;
            font-weight: 400;
            color: #626262;
            transition: 0.7s;
        }
    }
}

/*---------FOOTER---------------------------------------------*/

.footer {
    margin-top: 100px;
    height: 97px;
    background-color: #f0f0f0;

    @media (max-width: 869px){
        margin-top: 50px;
    }

    &__container {
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 97px;
        box-sizing: inherit;
    }

    &__links {
        display: flex;
        flex: 1 1 92.28%;
        justify-content: space-between;
        margin: 0 0 0 20px;

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__left {
        display: flex;
        
        @media (max-width: 869px) {
            flex-direction: column;
            align-self: center;
        }
    }

    &__text {
        margin: 0 17px 0 0;

        a {
        color: #000000;
        }
    }

    &__right {
       display: flex;
       align-self: center;
    }

    &__social {
        padding: 0 5px 0 0;
        display: flex;
        flex: 0 1 7.72%;
        justify-content: space-between;

        a {
            color: #333333;
        }

        @media (max-width: 869px) {
            justify-content: flex-end;

            a {
                padding: 0 10px 0 0;
            }
        }
    }
}
